body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-weight: 700;
    color:#707070;
}
h2{
    font-size: 2.5rem;
}
.fondo{
    background-color: #e83e8c;
}
.logo{
    width: 30%;
}
.logo-footer{
    width: 10%;
}